
{{~#*inline "format-money"~}}
{{money-amount money}} {{money.currency}}
{{~/inline~}}

{{~#*inline "format-date"~}}
{{date date format="MMM d, YYYY"}}
{{~/inline~}}

<html>
  <body>
    <h1>Hello, {{customer.display-name}}</h1>
    <p>Congratulations - you have successfully booked your shoot!</p>
    {{#with transaction}}
    <p>{{> format-date date=booking.start}} to {{> format-date date=booking.end}}.</p>

    <p>Here are the details:</p>
    <p>
      Location: {{listing.title}}<br />
      Owner: {{provider.first-name}} {{provider.last-name}} <br />
      Address: {{listing.public-data.location.building}} <br />
      Email: {{provider.email}} <br />
      Contact Number: {{provider.protected-data.phoneNumber}} <br />
    </p>

    <p>
      Booker: {{customer.display-name}}<br />
      Company: {{protected-data.companyName}}<br />
      Company Address: {{protected-data.companyAddress}}<br />
      Email: {{customer.email}}<br />
      Contact Number: {{protected-data.contactNumber}}<br />
      Start Date: {{protected-data.startDate}}<br />
      End Date: {{protected-data.endDate}}<br />
      Arrival Time: {{protected-data.arrivalTime}}<br />
      Departure Time: {{protected-data.departureTime}}<br />
      Number of People: {{protected-data.numberOfPeople}}<br />
      Type of Shoot: {{protected-data.shootType}}
    </p>
    <p><b>Total: {{> format-money money=payin-total}}</b><br />
      Public Liability Insurance (PLI) provider: {{protected-data.insuranceProvider}}<br />
      Policy Number: {{protected-data.policyNumber}}<br />
      Expiry date: {{protected-data.expiryDate}}<br />
      Value of public liability: {{protected-data.liabilityValue}}<br />
    </p>

    <p>Happy Shooting!</p>
    <p>The Film Locations Team</p>

    {{/with}}

    <hr />

    <p>You have received this email notification because you are a member of {{marketplace.name}}. If you no longer wish to receive these emails, please contact {{marketplace.name}} team.</p>
  </body>
</html>
