<html>
  <body>
    <p style="text-align: center">
    <img align="center" alt="" src="https://ci5.googleusercontent.com/proxy/78Rlfe4Xc3vlwao5IFjza66TYqZy181APAlx1Vlx7_G6nwaiACXbyo0b_sC5AXyb0AJ5xWNnlEwcbJaG0XSJMEBPodgLT4eFNGmA9sxW9i7i2depyVxo0nbGt2lGoJcyOj-arF4M6m2vX7bM_jh0hOAHsyxRBA=s0-d-e1-ft#https://mcusercontent.com/dae8e56f005972e677062fd98/images/9e0327b7-7e58-444f-9c50-2140b0582b52.png" width="293.28000000000003" style="max-width:600px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;height:auto;outline:none;text-decoration:none" class="m_-7272968925854413336mcnImage CToWUd" /></p>
    {{#with transaction}}
    <h1>How was your experience with {{customer.display-name}}? Write a review!</h1>

    <p>{{customer.display-name}} recently booked {{listing.title}} from you. Please write {{customer.display-name}} a review to describe your experience. Reviews are important part of the {{marketplace.name}} community.</p>

    <p><a href="{{marketplace.url}}/sale/{{url-encode id}}/details">Leave a review</a></p>
    {{/with}}

    <hr />

    <p>You have received this email notification because you are a member of {{marketplace.name}}. If you no longer wish to receive these emails, please contact the {{marketplace.name}} team.</p>
  </body>
</html>
